root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.php]
# Отключаем перенос для выражений присваивания
# ij_php_assignment_expression_wrapping = off
# Запрещаем перенос элементов массива на новую строку сразу после скобки
# ij_php_array_initializer_wrap_single_item = false
# Увеличиваем лимит длины строки (на случай, если перенос из-за него)
max_line_length = 150
# Выключаем принудительный перенос по правому краю
ij_php_keep_line_breaks = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[docker-compose.yml]
indent_size = 4

# [{*.js,*.ts,*.vue}]
# ij_any_align_trailing_comments = true
# ij_javascript_align_trailing_comments = true
